html {
	height: 100%;
	font-size: 24px;
	font-family: sans-serif;
	scroll-padding: 15vh;
}

body {
	height: 100%;
	margin: 0;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
}

.btn {
	cursor: pointer;
	font-size: 1em;
    margin: 1em;
    padding: 1em;
    background-color: #596F62;
    border: none;
    color: white;
}

.btn:hover {
	background-color: #CACFD6;
	color: black;
}

.btn:disabled {
	background-color: #CACFD6;
	color: grey;
}

a {
	text-decoration: none;
	color: inherit;
}

.inline-icon {
	position: relative;
	top: 0.25em;
}

.card-row, .grid-container {
	display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.card-row .card {
	grid-column: span 1;
	grid-row-start: 1;	
}

.card {
	border: 2px solid #3a2a34;
	border-radius: 15px;
	padding: 1em;
}

.card a {
	border: none;
	background-color: #493843;
	width: calc(100% + 2em);
	color: white;
	font-size: 1em;
    margin-left: -1em;
    border-radius: 0 0 15px 15px;
    padding: 0.5em 0 0.5em 0;
    position: relative;
    bottom: -1em;
    display: block;
    text-align: center;
}

.card a:hover{
	background-color: #3a2a34;
}

.menu li {
	list-style-type: none;
	padding: 0.5em;
}

.menu li a {
	display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
}

.socials {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
}

.socials * {
	padding: 0 1em 0 1em;
}

#article-page, #donate-page {
	min-height: 100%;
	position: relative;
}

header, footer {
	height: 15vh;
	width: 100%;
	background-color: #493843;
	color: white;
}

header {
	position: fixed;
	z-index: 999;
}

header .menu {
	height: inherit;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

header .menu li {
	height: inherit;
	padding: 0 2em 0 2em;
}

header .menu li:hover {
	background-color: #9C8393;
	color: black;
}

footer {
	position: absolute;
	bottom: 0;
}

main {
	padding: 15vh 0 15vh 0;
}

#sidebar {
	width: 20vw;
	height: 100%;
	background-color: #426B69;
	color: white;
	padding: 1em 0 0 1em;
	position: fixed;
}

#sidebar .menu li:hover {
	background-color: #96C7C5;
	color: black;
}

#article-content {
	position: relative;
	left: 25vw;
	width: 70vw;
	padding-top: 1em;
}

#donate-content {
	position: relative;
	padding: 1em;
}

.input-row {
	padding: 0.5em;
	display: flex;
	align-items: center;
}

.input-row label {
	width: 15vw;
    display: block;
}

.input-row input {
	width: 25vw;
	padding: 0.25em;
	border: none;
	background-color: #CACFD6;
	font-size: 1em;
}

/*#submit-btn-container {
	display: flex;
	justify-content: flex-end;
}
*/
/*#submit-btn {
	font-size: 1em;
    margin: 1em;
    padding: 1em;
    background-color: #596F62;
    border: none;
    color: white;
}

#submit-btn:hover {
	background-color: #CACFD6;
	color: black;
}*/

/*#submit-btn:disabled {
	background-color: #CACFD6;
	color: grey;
}
*/
#result-display {
    background-color: #426B69;
    color: #CACFD6;
    padding: 2em;
    margin: auto;
    width: 50vw;
    max-height: 30vh;
    overflow-y: auto;
}

#php-error-page {
	text-align: center;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-size: larger;
}